<div class="authorzo">
	<div class="widget widget-about">
		<div class="widget-about-img">
			<a href="https://techsaviours.org" target="_blank">
				<img src="{{ module.media.images[module.header.image].url }}">"
			</a>
		</div>
		{{ module.content|raw }}
		<div class="social-ul">
			<ul>
				<li>
					<a href="https://fosstodon.org/@techsaviours" target="_blank">
						<i class="fa fa-mastodon fa-lg"></i>
					</a>
				</li>
				<li>
					<a href="https://chat.techsaviours.org/#/room/#news:techsaviours.org" target="_blank">
						<i class="fa fa-matrix-org fa-lg"></i>
					</a>
				</li>
				<li>
					<a href="https://www.reddit.com/r/TECHSAVIOURS_ORG/" target="_blank">
						<i class="fa fa-reddit fa-lg"></i>
					</a>
				</li>
				{# <li><a href="/blog.rss"><i class="fa fa-rss"></i></a></li>
				        <li><a href="/blog.atom"><i class="fa fa-atom"></i></a></li> #}
				{# <li><a href="https://www.facebook.com/tech-saviours-nz" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li> #}
				<li>
					<a href="https://twitter.com/techsavioursorg" target="_blank">
						<i class="fa fa-twitter fa-lg"></i>
					</a>
				</li>
				{# <li><a href="" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li> #}
				{# <li><a href="https://www.youtube.com/channel/UCZt-OPPHkVrMl-k0cEKaGgQ" target="_blank"><i class="fa fa-youtube"></i></a></li> #}
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
